# .aliases

alias dir='ls -la'

# Git
alias gut='git'
alias got='git'
alias st='git status'
alias gc='git checkout'
alias gcb='git checkout -b'
alias gcm='git checkout master; git pull; git fetch --prune; gbdm'
alias gbd='git branch -D'
# "git delete merged"
alias gdm='git branch --merged | grep -v "\*" | grep -v master | grep -v dev | xargs -n 1 git branch -d'
alias gfr='git fetch upstream; git rebase upstream/master'
# "git branch delete merged" - Delete local GIT branches that were deleted on remote repository
# alias gbdm="git branch -D \$(git branch -vv | grep ': gone]' | grep -v '\*' | awk '{ print \$1; }')"
alias gbdm="for branch in \$(git branch -vv | grep ': gone]' | awk '{print \$1}'); do git branch -D \$branch; done"
alias gfp='git fetch --prune'

# Docker
alias ds='docker stats --no-stream'
alias dcl='docker-compose logs -f'
alias dcu='docker-compose up -d'

# Kill all the tabs in Chrome to free up memory
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Code Insiders
alias ci='code-insiders'

# Yarn Upgrade global deps
alias ygu='yarn global upgrade-interactive'

# Homebrew update, upgrade, clean, doctor
alias brewski='brew update && brew upgrade && brew cleanup; brew doctor `brew doctor --list-checks | grep -v stray_headers`'
