# .functions

# Install `tree` first — brew install tree
function t() {
  # Defaults to 3 levels deep, do more with `t 5` or `t 1`
  # pass additional args after
  tree -I '.git|node_modules|bower_components|.DS_Store' --dirsfirst --filelimit 15 -L ${1:-3} -aC $2
}

function changelog() {
  currentTag="HEAD"
  previousTag=$1
  fullName=$(git config user.name)
  userName="bshackelford"

  format='%cn %s %h <nl>'
  commits=$(git log --pretty=format:"$format" $currentTag...$previousTag)

  # set newlines.
  formattedCommits=$(echo "$commits" | sed 's/<nl>/\'$'\n/g')
  # replace username without @ with full username.
  formattedCommits=${formattedCommits//$userName/@$userName}
  # replace full name with username.
  formattedCommits=${formattedCommits//$fullName/@$userName}

  # replace GitHub web username with username.
  formattedCommits=${formattedCommits//GitHub/@$userName}

  # save to file.
  echo "$formattedCommits"
}

function cl() {
  currentTag="HEAD"
  previousTag=$1
  dir=$2
  # commits=$(git log --oneline $previousTag.. -- $dir | cat)
  # commits=$(git log --pretty=format:"%h%x09%an%x09%ar%x09%s" --date=short $previousTag.. -- $dir | cat)
  # commits=$(git log --pretty=format:"%<(12)%h%<(24)%an%<(18)%ar %s" --date=short $previousTag.. -- $dir | cat)
  commits=$(git shortlog $previousTag.. -- $dir | cat)
  echo $commits
}

function changeMac() {
  local mac=$(openssl rand -hex 6 | sed 's/\(..\)/\1:/g; s/.$//')
  sudo ifconfig en0 ether $mac
  sudo ifconfig en0 down
  sudo ifconfig en0 up
  echo "Your new physical address is $mac"
}

function rmapp() {
  app=$1
  sudo rm -rf /Applications/$app.app
  rm -rf ~/Library/Application\ Support/$app
  rm -rf ~/Library/Preferences/$app
  rm -rf ~/Library/Caches/$app
}

function dclean() {
  yes | docker container prune;
  yes | docker image prune;
  yes | docker volume prune
}

function qq {
  # directory
  dir=$1

  # assume rest of the arguments are flags for bazel
  shift

  bazel run //:gazelle -- $dir
  bazel test //$dir/... ${@}
}

function qqq {
  # directory
  dir=$1

  # assume rest of the arguments are flags for bazel
  shift

  bazel run //:gazelle -- $dir
  bazel build //$dir/... ${@}
}
