[user]
  name = Brandon Shackelford
  email = brandonmshackelford@gmail.com
[alias]
  lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  # View abbreviated SHA, description, and history graph of the latest 20 commits
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  # View the current working tree status using the short format
  s = status -s
  # Show the diff between the latest commit and the current state
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  remotes = remote -v
  branches = branch -a
  tags = tag -l
  st = status -sb
  unstage = reset HEAD --
  po = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
  stats = shortlog
[core]
  excludesfile = "$HOME/.gitignore"
  precomposeunicode = false
  # insanely beautiful diffs
  # pager = bash -lc 'diff-highlight | less -r' -
[push]
  default = simple
[pull]
  default = simple
  rebase = true
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[color]
  ui = 1
[mergetool]
  keepBackup = true
  prompt = false
[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[difftool "kaleidoscope"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "kaleidoscope"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
[merge]
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[diff]
  tool = Kaleidoscope
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[http "https://gopkg.in"]
  followRedirects = true
[http]
  sslVerify = true
